*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	height: 100vh;
}

button {
	font-size: 1.5em;
	padding: 10px;
	background-color: dodgerblue;
	color: white;
	border: 3px solid rgb(120, 187, 255);
}

.number_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	padding: 5px 10px;
	font-size: 1.5em;
	text-align: center;
	border: solid 1px dodgerblue;
	margin: 3px 0 15px 0;
}